#vs code
.vscode

#node
/node_modules

#data folders
/src/data/blockchain/blocks/*.json
/src/data/blockchain/indexes/*.json
/src/data/mempool/*.json

#old helper files
./src/blockchain
src/data/mempool/transactions.json
src/validator_config/last_block.json
